*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sourcing-trust-dss-label-color: #000;
}

.theme-dark {
  --sourcing-trust-dss-label-color: #fff;
}

/*
* Style Labels
*/
label {
  --label-font-size: 0.875rem;
  --label-font-height: 1.25rem;
  --label-font-weight: 500;
  display: block;
  margin-bottom: 6px;
  color: var(--sourcing-trust-dss-label-color);
  font-size: var(--label-font-size);
  line-height: var(--label-font-height, 1.25);
  font-weight: var(--label-font-weight, 500);
  font-family: var(--font-family);
}
